/*------------------------------  GOOGLE FONTS INTEGRATION  --------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Roboto: 100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

/*------------------------------ GENERAL --------------------------------*/

.uppercase{
    text-transform: uppercase; 
}

.general-sub{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
    letter-spacing: 1.3px;
}

.inline-block{
    display: inline-block;
}

.row-table{
    display: table;
}

/*------------------------------ COLORS --------------------------------*/

.bg-color-header{
    background-color: #f4f4f4;
}

.bg-color-theme{
    background-color: #2c0a37;
}

/*------------------------------ HEADER --------------------------------*/

.logo{
    background: url("../images/Skully_Hero_240.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #2c0a37;
    min-height: 240px;
}

.headline{    
    color: #2c0a37;
    text-align: center;
    margin: 0;
    padding: 0;       
    margin-top: 1.5vmin;
}

.headline h1{
    font-family: "Exo", sans-serif;
    font-size: 4.0vmin;
    text-transform: lowercase;
    margin-top: 80px;
}

.headline h2{
    font-family: "Roboto", sans-serif;
    font-size: 8.0vmin;
    letter-spacing: 120%;
    font-weight: 700;
    margin-bottom: 0;
}

.headline h3{
    font-family: "Exo", sans-serif;
    font-size: 4.0vmin;
    font-weight: 300;
}

/*------------------------------ NAVBAR --------------------------------*/

.navbar-toggler-icon{
    color: #fafafa;
}

/*------------------------------ BUTTONS --------------------------------*/

.btn-chib{
    background-color: #2c0a37;
    border-color: #2c0a37;
    color: #f4f4f4;
    width: 120px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 5px;
    padding: 0 5;
}

.btn-chib:hover,
.btn-chib:focus{
    color: #ffc107;
    box-shadow: none;  
}

.btn-chib-high{
    background-color: #2c0a37;
    border-color: #2c0a37;
    color: #ffc107;
    width: 120px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 5px;
    padding: 0 5;    
}

.btn-chib-high:hover,
.btn-chib-high:focus{
    color: #f4f4f4;
    box-shadow: none; 
}

.navbar{
    margin: 0 auto;
    border: 0;
    width: 100%;
    background-color: rgba(17.3,3.9,21.6,0);   
}

.list-inline-item:not(:last-child){
    margin:0;
}
/*
.container{    
    position: absolute;
    left: 50%;
    transform: translatex(-50%); 
}
*/
.dropdown-menu{
    background-color: #2c0a37;
    max-width: 125px;  
}

.dropdown-item{
    color: #f4f4f4;
}

.dropdown-item:hover{
    background-color: #2c0a37;
    color: #ffc107;
}

/*------------------------------ SECTION --------------------------------*/

.fighters{
    text-align: center;
}


/*------------------------------ FOOTER --------------------------------*/

footer{
    background-color: #2c0a37;
    color: #fafafa;
    min-height: 120px;
    margin:0;
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i {
    width: 25px;
    height: 25px;
    padding: 8px 0;
    border-radius: 50%;
    font-size: 16px;
    line-height: 10px;
    text-align: center;
    color: #2c0a37;
    background: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background-color: #ffc107;
}

.list-inline-item:not(:last-child){
    margin:0;
}

.footer-hl-center{
    text-align: center;
}

.footer-btn{
    margin-bottom: 25px;
}

#footer-details{
    padding: 20px;
}

/*------------------------------ MEDIA_QUERIES --------------------------------*/

/*----------SMALL----------*/
@media (min-width: 576px){

    
}

/*----------MEDIUM----------*/
@media(min-width: 768px){

    .logo{
    background-position: left;
    background-size: contain;
    }
      
}

/*----------LARGE----------*/
@media(min-width: 992px){
      
}

/*----------XLARGE----------*/
@media(min-width: 1200px){

    .social-links li a i {
        width: 38px;
        height: 38px;
        padding: 12px 0;
        font-size: 24px;
        line-height: 15px;
    }

    .footer-btn{
        position: absolute;
        top: 30px;

    }
}